.App {
    font-family: sans-serif;
}
ul {
    border: 1px solid red;
    margin-bottom: 20px;
    list-style: none;
    text-align: left;
}
input {
    padding: 10px;
    border: 1px solid deeppink;
    width: 50%;
}
input[type="checkbox"] {
    width: fit-content;
}
